{% extends '@PLATFORM/layout.html.twig' %}

{% block body %}

    <div class="container darken-3">
        <div class="row chat">
            <a href="{{ path('chat_profil_bis') }}">


                <div class="col s12">
                    <div class="card-panel grey darken-3 z-depth-1">
                        <div class="valign-wrapper">
                            <div class="col s3">
                                <img src="{{ asset('bundles/platform/img/bean.jpg') }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s9">
                          <span class="white-text">
                            HI! Would you like a coffee?
                          <i class="material-icons right">chat</i></span>
                            </div>
                        </div>
                    </div>
                </div>

            </a>
            <a href="{{ path('chat_profil_bis') }}">


                <div class="col s12">
                    <div class="card-panel grey darken-3 z-depth-1">
                        <div class="valign-wrapper">
                            <div class="col s3">
                                <img src="{{ asset('bundles/platform/img/bean.jpg') }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s9">
                          <span class="white-text">
                            HI! Would you like a coffee?
                          <i class="material-icons right">chat</i></span>
                            </div>
                        </div>
                    </div>
                </div>

            </a>
            <a href="{{ path('chat_profil_bis') }}">
                <div class="col s12">
                    <div class="card-panel grey darken-3 z-depth-1">
                        <div class="valign-wrapper">
                            <div class="col s3">
                                <img src="{{ asset('bundles/platform/img/bean.jpg') }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s9">
                          <span class="white-text">
                            HI! Would you like a coffee?
                          <i class="material-icons right">chat</i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>


{%  endblock %}