{% extends '@PLATFORM/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row light-blue lighten-5">
            <div class="center">
            <h1>Get a match</h1>
            </div>
            <div id="index">
                <h1>Monactivite creation</h1>

                {{ form_start(form) }}
                {{ form_widget(form.date, { 'attr': {'class': 'datepicker','placeholder' :'Click for the time'} }) }}
                {{ form_widget(form.time1, { 'attr': {'class': 'validate', 'placeholder' :'00:00'} }) }}
                {{ form_widget(form.time2, { 'attr': {'class': 'validate', 'placeholder' :'00:00'} }) }}
                {{ form_widget(form) }}


                <input type="submit" value="Create" />
                {{ form_end(form) }}

                <ul>
                    <li>
                        <a href="{{ path('monactivite_index') }}">Back to the list</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>


{%  endblock %}