{% extends '@PLATFORM/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row grey darken-3 white-text">
            <div class="center">
            <h1>Get a match</h1>
            </div>
            <div id="index">


                {{ form_start(form) }}
                {{ form_widget(form.date, { 'attr': {'class': 'datepicker','placeholder' :'Click for the time'} }) }}
                <div class="">
                    {{ form_label(form.time1, "heure", {'label_attr': {'class':'control-label'}}) }}
                    {{ form_widget(form.time1, { 'attr': {'class': 'validate', 'placeholder' :'00:00'} }) }}
                    {{ form_errors(form.time1) }}
                </div>
                {{ form_label(form.time2, "heure", {'label_attr': {'class':'control-label'}}) }}
                {{ form_widget(form.time2, { 'attr': {'class': 'validate', 'placeholder' :'00:00'} }) }}
                {{ form_errors(form.time2) }}
                {{ form_widget(form) }}


                <input class="btn" type="submit" value="Search" />
                {{ form_end(form) }}



            </div>
        </div>
    </div>


{%  endblock %}