{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ asset('bundles/platform/img') }}">View images (PDF)</a>
    <figure>
        <img src="{{ asset('bundles/platform/img' ~ img.filename) }}" alt="image">
    </figure>
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <input type="submit" value="Edit" />
    {{ form_end(form) }}

{% endblock %}