{% extends '@PLATFORM/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="col s12 center">
                    <img src="{{ asset('bundles/platform/img/bean.jpg') }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s12 center">
                    <a class="btn" href="{{ path('creation_profil') }}">Edit <i class="material-icons">edit</i></a>

                </div>
            </div>
            <div class="col s6">
                <div class="card-panel grey lighten-5 z-depth-1">


                    {{ app.user.firstName }}
                    {{ app.user.lastName }}
                    {{ app.user.company }}
                    {{ app.user.position }}
                    {{ app.user.insead }}

                    <a class="btn" href="{{ path('user_edit', {id: app.user.id } ) }}">Edit <i class="material-icons">edit</i></a>
                </div>
                <div class="card-panel grey lighten-5 z-depth-1">

                    <a href="#"> Calendar</a>
                    <p>Hobbies</p>
                    <p>#Coffee</p>
                    <p>#Tennis</p>
                    <p>#Climbing</p>
                    <a class="btn" href="{{ path('creation_profil') }}">Edit <i class="material-icons">edit</i></a>
                </div>
            </div>
        </div>
    </div>


{%  endblock %}