{% extends '@PLATFORM/layout.html.twig' %}

{% block body %}


    <div class="container">

        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">mode_edit </i>Search filters</div>
                <div class="collapsible-body">
                    <div id="search">
                        <form action="{{ path('platform_search') }}" >

                            <div class="input-field col s6">
                                <input id="location" type="text" class="validate">
                                <label for="location">Location</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="2017:03:06" id="date" type="date" class="datepicker ">
                                <label for="date"></label>
                            </div>
                            <div class="input-field col s6"">
                                <input class="time-demo" placeholder="00:00" type="text">
                                <label class="active" for="time-demo"></label>
                            </div>
                            <div class="input-field col s6"">
                                <input class="time-demo" placeholder="00:00" type="text">
                                <label class="active" for="time_demo4"></label>
                            </div>

                            <div class="input-field col s12 autocomplete">
                                <input type="text" id="autocomplete-input2">
                                <label for="autocomplete-input">Activity</label>
                            </div>

                            <div class="input-field col s12 center">
                                <input type="submit" value="search" class="btn btn-primary "/>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>

        <div class="row">
            <div id="result-desc">
                <div class="col s4 center">
                    <div class="col s12">
                        <a href={{ path('profil') }}><img src="{{ asset('bundles/platform/img/bean.jpg') }}" alt="" class="circle responsive-img"></a> <!-- notice the "circle" class -->
                    </div>
                </div>
                <div class="col s4 center">
                    <div class="col s12">
                        <a href={{ path('profil') }}><img src="{{ asset('bundles/platform/img/Trump.jpg') }}" alt="" class="circle responsive-img"></a> <!-- notice the "circle" class -->
                    </div>
                </div>
                <div class="col s4 center">
                    <div class="col s12">
                        <a href={{ path('profil') }}><img src="{{ asset('bundles/platform/img/rsz_1zukergerg.jpg') }}" alt="" class="circle responsive-img"></a> <!-- notice the "circle" class -->
                    </div>
                </div>

            </div>
        </div>
        <div class="row light-blue lighten-5">
            <div id="result-img">
                <div class="col s4 center grey darken-3 white-text">
                    <p>Bean</p>
                    <p>Westinghouse</p>
                    <p>Fontainebleau</p>
                    <p>JokeMaster</p>
                </div>
                <div class="col s4 center grey darken-3 white-text">
                    <p>Trump</p>
                    <p>White House</p>
                    <p>Fontainebleau</p>
                    <p>Universe God</p>
                </div>
                <div class="col s4 center grey darken-3 white-text">
                        <p>Zukerberg</p>
                        <p>Facebook</p>
                        <p>Fontainebleau</p>
                        <p>CEO</p>
                </div>

            </div>
        </div>
    </div>

{%  endblock %}