{% extends '@PLATFORM/layout.html.twig' %}

{% block body %}


    <div class="container light-blue lighten-5">

        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">mode_edit </i>Search filters</div>
                <div class="collapsible-body">
                    <div id="search">
                        <form action="{{ path('search_profil') }}" >
                            <div class="input-field col s6">
                                <input id="location" type="text" class="validate">
                                <label for="location">Location</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="2017:03:06" id="date" type="date" class="datepicker ">
                                <label for="date"></label>
                            </div>
                            <div class="input-field col s6" id="time-demo3">
                                <input placeholder="00:00" type="text">
                                <label class="active" for="time_demo3"></label>
                            </div>
                            <div class="input-field col s6" id="time-demo4">
                                <input placeholder="00:00" type="text">
                                <label class="active" for="time_demo4"></label>
                            </div>

                            <div class="input-field col s12 autocomplete">
                                <input type="text" id="autocomplete-input2">
                                <label for="autocomplete-input">Activity</label>
                            </div>

                            <div class="input-field col s12 center">
                                <input type="submit" value="search" class="btn btn-primary "/>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>

        <div class="row">
            <div class="center">
                <h1>Get a match</h1>
            </div>


            <div id="result-desc">
                <div class="col s3 center">
                    <div class="col s12">
                        <a href={{ path('profil') }}><img src="{{ asset('bundles/platform/img/bean.jpg') }}" alt="" class="z-depth-4 circle responsive-img"></a> <!-- notice the "circle" class -->
                    </div>
                </div>
                <div class="col s3 center">
                    <div class="col s12">
                        <a href={{ path('profil') }}><img src="{{ asset('bundles/platform/img/bean.jpg') }}" alt="" class="z-depth-4 circle responsive-img"></a> <!-- notice the "circle" class -->
                    </div>
                </div>
                <div class="col s3">
                    <div class="col s12 center">
                        <a href={{ path('profil') }}><img src="{{ asset('bundles/platform/img/bean.jpg') }}" alt="" class="z-depth-4 circle responsive-img"></a> <!-- notice the "circle" class -->
                    </div>
                </div>
                <div class="col s3">
                    <div class="col s12 center">
                        <a href={{ path('profil') }}><img src="{{ asset('bundles/platform/img/bean.jpg') }}" alt="" class="z-depth-4 circle responsive-img"></a> <!-- notice the "circle" class -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="result-img">
                <div class="col s3 card center">
                    <p >John Doe</p>
                    <p>Westinghouse</p>
                    <p>Fontainebleau</p>
                    <p>CEO</p>

                </div>
                <div class="col s3 card center">

                    <p >John Doe</p>
                    <p>Westinghouse</p>
                    <p>Fontainebleau</p>
                    <p>CEO</p>

                </div>
                <div class="col s3 card center">

                        <p >John Doe</p>
                        <p>Westinghouse</p>
                        <p>Fontainebleau</p>
                        <p>CEO</p>

                </div>
                <div class="col s3 card center">

                    <p >John Doe</p>
                    <p>Westinghouse</p>
                    <p>Fontainebleau</p>
                    <p>CEO</p>

                </div>
            </div>
        </div>

    </div>

{%  endblock %}