{% extends '@PLATFORM/layout.html.twig' %}

{% block body %}

    <div class="container">

        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons"></i>Search filters</div>
                <div class="collapsible-body">
                    <h1>SEARCH</h1>
                    <div id="search">
                        <form action="{{ path('search_profil') }}" >
                            <div class="input-field col s6">
                                <input id="location" type="text" class="validate">
                                <label for="location">Location</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="date" type="date" class="datepicker validate">
                                <label for="date"></label>
                            </div>
                            <div class="input-field col s1">
                                <input id="time-demo" placeholder="00:00" type="text">
                                <label class="active" for="time_demo"></label>
                            </div>
                            <div class="input-field col s1">
                                <input id="time-demo" placeholder="00:00" type="text">
                                <label class="active" for="time_demo"></label>
                            </div>

                            <div class="input-field col s12">
                                <input type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Activity</label>
                            </div>

                            <div class="input-field col s12 center">
                                <input type="submit" value="search" class="btn btn-primary "/>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>

        <div class="row">
            <h1>RESULT</h1>
        </div>
        <div class="row">

            <div id="result-desc">
                <div class="col s3 center">


                        <div class="col s12">
                            <a href={{ path('profil') }}><img src="{{ asset('bundles/platform/img/photp.png') }}" alt="" class="circle responsive-img"></a> <!-- notice the "circle" class -->
                        </div>


                </div>

            <div class="col s3 center">


                    <div class="col s12">
                        <a href={{ path('profil') }}><img src="{{ asset('bundles/platform/img/photp.png') }}" alt="" class="circle responsive-img"></a> <!-- notice the "circle" class -->
                    </div>


            </div>

            <div class="col s3">


                    <div class="col s12 center">
                        <a href={{ path('profil') }}><img src="{{ asset('bundles/platform/img/photp.png') }}" alt="" class="circle responsive-img"></a> <!-- notice the "circle" class -->
                    </div>



            </div>
            <div class="col s3">


                    <div class="col s12 center">
                        <a href={{ path('profil') }}><img src="{{ asset('bundles/platform/img/photp.png') }}" alt="" class="circle responsive-img"></a> <!-- notice the "circle" class -->
                    </div>


            </div>
        </div>
        </div>
        <div class="row">

            <div id="result-img">
                <div class="col s3">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <p>Name :</p>
                        <p>Company :</p>
                        <p>Insead :</p>
                        <p>Position :</p>

                    </div>
                </div>
                <div class="col s3">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <p>Name :</p>
                        <p>Company :</p>
                        <p>Insead :</p>
                        <p>Position :</p>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <p>Name :</p>
                        <p>Company :</p>
                        <p>Insead :</p>
                        <p>Position :</p>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <p>Name :</p>
                        <p>Company :</p>
                        <p>Insead :</p>
                        <p>Position :</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{%  endblock %}