{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="center">
       <div class="col offset-s3 col s6"> <img src="{{ asset('bundles/platform/img/Yomo.png') }}" alt="INSEAD" class="responsive-img"></div>
    </div>
    </div>
    <div class="row">
        <div class="col offset-s3 col s6">
        <form class="" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input class="center-align" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input class="center-align" type="password" id="password" name="_password" required="required" />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label></br>

            <input class="btn green" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

        </form>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s3 col s6">
            <h1 class="center-align white-text">YOMO</h1>
            <a href="{{ path('fos_user_registration_register') }}"><input class="btn green" name="Register" value="register" /></a>
        </div>
    </div>
</div>
