{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container">
    <div class="row">

        <div class="col s5"><span class="">This div is 7-columns wide on pushed to the right by 5-columns.</span></div>
        <div class="col offset-s7 s5"><span class="">5-columns wide pulled to the left by 7-columns.</span></div>

    </div>
    <div class="row">
        <form class="" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input class="center-align" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input class="center-align" type="password" id="password" name="_password" required="required" />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>
    <div class="row">
        <div class="card-panel">
            <h1 class="center-align">Be known or be shown</h1>
        </div>
    </div>
</div>
